@media (min-width: 1200px) {
    .container {
        width: 82%;
    }
}

.body {
    background-image: linear-gradient(to bottom right, #999, #427aa9a6);
}

.body .item {
    padding: 0;
    text-align: center;
}

.body .videos {
    height: 600px;
}

.body .videos video {
    padding-top: 30px;
    padding-bottom: 30px;
}

.body .videos .button {
    margin: 0 15px;
}

